beautifulsoup4~=4.11.1
lightning-utilities~=0.10.0
matplotlib~=3.8.2
multivolumefile~=0.2.3
numpy~=1.26.2
opencv-python~=4.8.1.78
Pillow~=10.1.0
pinscrape~=3.0.3
py7zr~=0.20.8
pytorch-lightning~=2.1.2
requests~=2.28.1
selenium~=4.15.2
torch~=2.1.1
torchmetrics~=1.2.1
torchvision~=0.16.1
urllib3~=1.26.18
wandb~=0.16.0
fastapi~=0.104.1
python-multipart~=0.0.6
uvicorn~=0.24.0.post1
